@import './common';

@import './utils/variables';
@import './utils/visually-hidden';
@import './utils/placeholders';

@import './base/main';
@import './base/reset';
@import './base/container';

@import './layout/header';
@import './layout/hero';
@import './layout/offerings';
@import './layout/favorites';
@import './layout/customers-say';
@import './layout/subscribe';
@import './layout/footer';

@import './components/mobile-menu';
@import './components/modal-form';
