$primaryTextColor: #2c2c2c;
$primaryBgColor: #ffffff;
$footerLinkColor: #7eb101;
$btnBgColor: #bbf330;
$additionalColor: #ffe550;
$modalBgColor: #d9d9d9;
$modalOverlay: rgba(0, 0, 0, 0.2);

$timingFunction: 250ms cubic-bezier(0.4, 0, 0.2, 1);

$mobile: 480px;
$tablet: 768px;
$desktop: 1280px;
