<div class="container background-customers">
  <section class="section customers" id="customers">
    <h2 class="customers__title">What our Customers Say</h2>
    <p class="customers__text">
      Lorem ipsum dolor sit amet, consectetur adipiscing elit.
    </p>
    <ul class="customers__list">
      <li class="customers-cards">
        <svg class="customers-cards__icons" width="100px" height="16px">
          <use href="./images/icons.svg#icon-Stars"></use>
        </svg>
        <p class="customers-card__text">
          “The Best app I have used to order food in a while, so many options to
          choose from too, I would recommend to a freind, No questions asked”
        </p>
        <div class="customers__user">
          <img
            class="customers__img"
            srcset="
              ./images/customers-say/user1@1x.png 1x,
              ./images/customers-say/user1@2x.png 2x
            "
            src="./images/customers-say/user1@1x.png"
            alt="User's photo"
          />
          <div>
            <h3 class="user__name">Sumith Shah</h3>
            <p class="user__category">Some Dude</p>
          </div>
        </div>
      </li>
      <li class="customers-cards">
        <svg class="customers-cards__icons" width="100px" height="16px">
          <use href="./images/icons.svg#icon-Stars"></use>
        </svg>
        <p class="customers-card__text">
          “The ease with which I can just go in and order what i want was
          amazing, It has been a very pleasant experience ordering from this
          app”
        </p>
        <div class="customers__user">
          <img
            class="customers__img"
            srcset="
              ./images/customers-say/user2@1x.png 1x,
              ./images/customers-say/user2@2x.png 2x
            "
            src="./images/customers-say/user1@1x.png"
            alt="User's photo"
          />
          <div>
            <h3 class="user__name">Sumith Shah</h3>
            <p class="user__category">Some Dude</p>
          </div>
        </div>
      </li>
    </ul>
  </section>
</div>
