<section class="container favorites" id="favorites">
  <div class="favorites__container">
    <h2 class="favorites__title">Some of Our Favorites</h2>
    <p class="favorites__text">
      Lorem ipsum dolor sit amet, consectetur adipiscing elit.
    </p>
    <ul class="favorites__list">
      <li class="favorites__item">
        <svg class="favorites__icon">
          <use href="./images/icons.svg#Ellipse-580"></use>
        </svg>
        <picture>
          <!-- desctop screen -->
          <source
            media="(min-width: 1200px)"
            srcset="
              ./images/favorites/gamburger-315.jpg 1x,
              ./images/favorites/gamburger-630.jpg 2x
            "
            type="image/jpg"
          />
          <!-- tablet screen -->
          <source
            media="(min-width: 768px)"
            srcset="
              ./images/favorites/gamburger-268.jpg 1x,
              ./images/favorites/gamburger-538.jpg 2x
            "
            type="image/jpg"
          />
          <!-- mobile screen -->
          <source
            media="(max-width: 767px)"
            srcset="
              ./images/favorites/gamburger-223.jpg 1x,
              ./images/favorites/gamburger-446.jpg 2x
            "
            type="image/jpg"
          />
          <!-- fallback -->
          <img
            src="./images/favorites/gamburger-223.jpg"
            alt="Gamburger"
            class="favorites__img"
          />
        </picture>
      </li>
      <li class="favorites__item">
        <svg class="favorites__icon">
          <use href="./images/icons.svg#Ellipse-580"></use>
        </svg>
        <picture>
          <!-- desctop screen -->
          <source
            media="(min-width: 1200px)"
            srcset="
              ./images/favorites/Pasta-315.jpg 1x,
              ./images/favorites/Pasta-630.jpg 2x
            "
            type="image/jpg"
          />
          <!-- tablet screen -->
          <source
            media="(min-width: 768px)"
            srcset="
              ./images/favorites/Pasta-268.jpg 1x,
              ./images/favorites/Pasta-536.jpg 2x
            "
            type="image/jpg"
          />
          <!-- mobile screen -->
          <source
            media="(max-width: 767px)"
            srcset="
              ./images/favorites/Pasta-223.jpg 1x,
              ./images/favorites/Pasta-446.jpg 2x
            "
            type="image/jpg"
          />
          <!-- fallback -->
          <img
            src="./images/favorites/Pasta-223.jpg"
            alt="Pasta"
            class="favorites__img"
          />
        </picture>
      </li>
      <li class="favorites__item">
        <svg class="favorites__icon">
          <use href="./images/icons.svg#Ellipse-580"></use>
        </svg>
        <picture>
          <!-- desctop screen -->
          <source
            media="(min-width: 1200px)"
            srcset="
              ./images/favorites/pizza-315.jpg 1x,
              ./images/favorites/pizza-630.jpg 2x
            "
            type="image/jpg"
          />
          <!-- tablet screen -->
          <source
            media="(min-width: 768px)"
            srcset="
              ./images/favorites/pizza-268.jpg 1x,
              ./images/favorites/pizza-536.jpg 2x
            "
            type="image/jpg"
          />
          <!-- mobile screen -->
          <source
            media="(max-width: 767px)"
            srcset="
              ./images/favorites/pizza-223.jpg 1x,
              ./images/favorites/pizza-446.jpg 2x
            "
            type="image/jpg"
          />
          <!-- fallback -->
          <img
            src="./images/favorites/pizza-223.jpg"
            alt="Pizza"
            class="favorites__img"
          />
        </picture>
      </li>
      <li class="favorites__item favorites__item--mobile-hidden">
        <svg class="favorites__icon">
          <use href="./images/icons.svg#Ellipse-580"></use>
        </svg>
        <picture>
          <!-- desctop screen -->
          <source
            media="(min-width: 1200px)"
            srcset="
              ./images/favorites/chicken-315.jpg 1x,
              ./images/favorites/chicken-630.jpg 2x
            "
            type="image/jpg"
          />
          <!-- tablet screen -->
          <source
            media="(min-width: 768px)"
            srcset="
              ./images/favorites/chicken-268.jpg 1x,
              ./images/favorites/chicken-536.jpg 2x
            "
            type="image/jpg"
          />
          <!-- fallback -->
          <img
            src="./images/favorites/chicken-268.jpg"
            alt="Chicken"
            class="favorites__img"
          />
        </picture>
      </li>
      <li class="favorites__item favorites__item--mobile-hidden">
        <svg class="favorites__icon">
          <use href="./images/icons.svg#Ellipse-580"></use>
        </svg>
        <picture>
          <!-- desctop screen -->
          <source
            media="(min-width: 1200px)"
            srcset="
              ./images/favorites/salat-315.jpg 1x,
              ./images/favorites/salat-630.jpg 2x
            "
            type="image/jpg"
          />
          <!-- tablet screen -->
          <source
            media="(min-width: 768px)"
            srcset="
              ./images/favorites/salat-268.jpg 1x,
              ./images/favorites/salat-536.jpg 2x
            "
            type="image/jpg"
          />
          <!-- fallback -->
          <img
            src="./images/favorites/salat-268.jpg"
            alt="Salat"
            class="favorites__img"
          />
        </picture>
      </li>
      <li class="favorites__item favorites__item--mobile-hidden">
        <svg class="favorites__icon">
          <use href="./images/icons.svg#Ellipse-580"></use>
        </svg>
        <picture>
          <!-- desctop screen -->
          <source
            media="(min-width: 1200px)"
            srcset="
              ./images/favorites/borshch-315.jpg 1x,
              ./images/favorites/borshch-630.jpg 2x
            "
            type="image/jpg"
          />
          <!-- tablet screen -->
          <source
            media="(min-width: 768px)"
            srcset="
              ./images/favorites/borshch-268.jpg 1x,
              ./images/favorites/borshch-536.jpg 2x
            "
            type="image/jpg"
          />
          <!-- fallback -->
          <img
            src="./images/favorites/borshch-268.jpg"
            alt="Borshch"
            class="favorites__img"
          />
        </picture>
      </li>
    </ul>
  </div>
</section>
