<!-- <footer> -->
<!-- <section class="footer section container"> -->
<section class="footer container">
  <div class="footer-container">
    <!-- <nav class="footer-nav"> -->
    <div class="footer-logo-container">
      <a class="footer-logo link" href="./index.html">
        <!-- <svg class="footer-logo__icon icon" width="72" height="72"> -->
        <svg
          class="footer-logo__icon icon"
          width="69"
          height="51"
          aria-label="Logo"
        >
          <!-- <use class="footer-logo__icons" href="./images/icons.svg#logo"></use> -->
          <use
            class="footer-logo__icons"
            href="./images/icons.svg#icon-logo-new"
          ></use>
        </svg>
      </a>
    </div>

    <div class="footer-nav-container">
      <nav class="footer-nav">
        <ul class="footer-nav__list list">
          <li class="footer-nav__item item">
            <a class="footer-nav__link footer-nav__link--activity link" href=""
              >Home</a
            >
          </li>
          <li class="footer-nav__item item">
            <a class="footer-nav__link link" href="">About</a>
          </li>
          <li class="footer-nav__item item">
            <a class="footer-nav__link link" href="">Service</a>
          </li>
          <li class="footer-nav__item item">
            <a class="footer-nav__link link" href="">Menu</a>
          </li>
          <li class="footer-nav__item item">
            <a class="footer-nav__link link" href="">Contact</a>
          </li>
        </ul>
      </nav>
    </div>

    <form class="subscribe">
      <h2 class="subscribe__title">Subscribe</h2>
      <div class="subscribe-footer">
        <label class="subscribe-footer__label">
          <input
            class="subscribe-footer__input"
            type="email"
            name="e-mail"
            placeholder="Enter your email"
            invalid="kenzi.lawson@"
            required
          />
        </label>
        <button class="subscribe-btn" type="submit">Subscribe</button>
      </div>
      <span class="subscribe__span"
        >By subscribing you agree to with our
        <a class="subscribe__link" href="">Privacy Policy</a></span
      >
    </form>
    <!-- <div class="footer-special container"> -->
    <div class="footer-special">
      <ul class="footer-special__list">
        <li class="footer-special__item">
          <a class="footer-special__link" href="">Privacy Policy</a>
        </li>
        <li class="footer-special__item">
          <a class="footer-special__link" href="">Terms of Service</a>
        </li>
        <li class="footer-special__item">
          <a class="footer-special__link" href="">Cookies Settings</a>
        </li>
      </ul>
      <div class="special">
        <p class="footer-special__text">2022 FoodSta. All right reserved.</p>
      </div>
    </div>
  </div>
</section>
<!-- </footer> -->

<div class="container">
  <section class="footer__section">
    <div class="footer__container">
      <nav class="footer-nav">
        <a class="footer__logo" href="/">
          <svg
            class="logo-icon"
            aria-label="Logotype food delivery"
            width="69"
            height="51"
          >
            <use href="./images/icons/icons-sprite.svg#icon-logo"></use>
          </svg>
        </a>
        <ul class="footer-nav__list list">
          <li class="footer-nav__item">
            <a class="footer-nav__link link" href="">Home</a>
          </li>
          <li class="footer-nav__item">
            <a class="footer-nav__link link" href="">About</a>
          </li>
          <li class="footer-nav__item">
            <a class="footer-nav__link link" href="">Service</a>
          </li>
          <li class="footer-nav__item">
            <a class="footer-nav__link link" href="">Menu</a>
          </li>
          <li class="footer-nav__item">
            <a class="footer-nav__link link" href="">Contact</a>
          </li>
        </ul>
      </nav>
      <div class="footer-subscribe">
        <h3 class="footer-subscribe__title">Subscribe</h3>
        <form class="footer-subscribe__form" name="footer-subscribe-form">
          <div class="footer-subscribe__group">
            <label class="footer-subscribe__email" for="email">
              <input
                class="footer-subscribe__input"
                type="email"
                name="email"
                placeholder="Enter your email"
              />
            </label>
            <button class="footer-subscribe__btn" type="submit">
              Subscribe
            </button>
          </div>
          <span class="footer-subscribe__agreement"
            >By subscribing you agree to with our
            <a class="agreement-link" href="">Privacy Policy</a>
          </span>
        </form>
      </div>
    </div>
    <div class="footer-category">
      <ul class="footer-category__list list">
        <li class="footer-category__item">
          <a class="footer-category__link link" href="">Privacy Policy</a>
        </li>
        <li class="footer-category__item">
          <a class="footer-category__link link" href="">Terms of Service</a>
        </li>
        <li class="footer-category__item">
          <a class="footer-category__link link" href="">Cookies Settings</a>
        </li>
      </ul>
      <div class="footer-copyright">
        <p class="footer-copyright__item">2022 FoodSta. All right reserved.</p>
      </div>
    </div>
  </section>
</div>
