<div class="container" id="contact">
  <div class="footer__section">
    <a class="footer__logo" href="./index.html">
      <img src="./images/logo.svg" alt="Logo" width="69" height="51" />
    </a>

    <ul class="footer-nav__list">
      <li class="footer-nav__item">
        <a class="footer-nav__link" href="#hero">Home</a>
      </li>
      <li class="footer-nav__item">
        <a class="footer-nav__link" href="#offerings">About</a>
      </li>
      <li class="footer-nav__item">
        <a class="footer-nav__link" href="#customers">Service</a>
      </li>
      <li class="footer-nav__item">
        <a class="footer-nav__link" href="#favorites">Menu</a>
      </li>
      <li class="footer-nav__item">
        <a class="footer-nav__link" href="#subscribe">Contact</a>
      </li>
    </ul>

    <div class="footer-subscribe">
      <b class="footer-subscribe__title">Subscribe</b>
      <form class="footer-subscribe__form" name="footer-subscribe-form">
        <div class="footer-subscribe__group">
          <input
            class="footer-subscribe__input"
            id="email"
            type="email"
            name="email"
            placeholder="Enter your email"
          />
          <button class="footer-subscribe__btn" type="submit">Subscribe</button>
          <div class="footer-formtitle">
            <svg class="footer__icon" width="12" height="12">
              <use
                class="footer__eror"
                href="./images/icons.svg#icon-Frameerror"
              ></use>
            </svg>
            <span class="footer__text-eror"
              >Not a valid email address (example@email.com)</span
            >
          </div>
        </div>
        <p class="footer-subscribe__agreement">
          By subscribing you agree to with our
          <a class="agreement-link" href="">Privacy Policy</a>
        </p>
      </form>
    </div>
  </div>

  <div class="footer-category">
    <ul class="footer-category__list">
      <li class="footer-category__item">
        <a class="footer-category__link" href="">Privacy Policy</a>
      </li>
      <li class="footer-category__item">
        <a class="footer-category__link" href="">Terms of Service</a>
      </li>
      <li class="footer-category__item">
        <a class="footer-category__link" href="">Cookies Settings</a>
      </li>
    </ul>
    <p class="footer-copyright">&copy; 2022 FoodSta. All right reserved.</p>
  </div>
</div>
