<div class="container header__container">
  <div class="header-logo">
    <a class="header__logo" href="./index.html">
      <svg class="" width="66" height="52" aria-label="Logo">
        <use class="" href="./images/icons.svg#logo"></use>
      </svg>
    </a>
  </div>
  <!-- Mobile menu -->
  <div class="mobile-menu__button-container">
    <button
      type="button"
      class="mobile-menu__button"
      aria-expanded="false"
      aria-controls="mobile-menu"
      data-menu-button
    >
      <svg
        class="mobile-menu__icon"
        width="28"
        height="28"
        aria-label="Переключатель мобильного меню"
      >
        <use
          class="mobile-menu__icon--menu"
          href="./images/icons.svg#gg_menu"
        ></use>
      </svg>
    </button>
  </div>
  <div class="mobile-menu" id="mobile-menu" data-menu>
    <!-- <mobile-menu-nav> -->
    <ul class="mobile-menu-nav">
      <li class="mobile-menu-nav__item mobile-menu-nav__item--current">
        <a
          class="mobile-menu-nav__link mobile-menu-nav__link--current"
          href="./index.html"
          >Home</a
        >
      </li>
      <li class="mobile-menu-nav__item">
        <a class="mobile-menu-nav__link" href="">About</a>
      </li>
      <li class="mobile-menu-nav__item">
        <a class="mobile-menu-nav__link" href="">Service</a>
      </li>
      <li class="mobile-menu-nav__item">
        <a class="mobile-menu-nav__link" href="">Menu</a>
      </li>
      <li class="mobile-menu-nav__item">
        <a class="mobile-menu-nav__link" href="">Contact</a>
      </li>
    </ul>
  </div>
  <div class="header-nav">
    <nav class="nav">
      <ul class="nav__list">
        <li class="nav__item">
          <a class="nav__link nav__link--current" href="./index.html">Home</a>
        </li>
        <li class="nav__item">
          <a class="nav__link" href="">About</a>
        </li>
        <li class="nav__item">
          <a class="nav__link" href="">Service</a>
        </li>
        <li class="nav__item">
          <a class="nav__link" href="">Menu</a>
        </li>
        <li class="nav__item">
          <a class="nav__link" href="">Contact</a>
        </li>
      </ul>
      <button class="nav__button" type="button">Order Now</button>
    </nav>
  </div>
</div>
