<div class="container header__container">
  <a class="header__logo" href="./index.html">
    <img src="./images/logo.svg" alt="Logo" width="66" height="52" />
  </a>

  <button
    type="button"
    class="mobile-menu__button"
    aria-expanded="false"
    data-menu-button
  >
    <svg
      class="mobile-menu__icon"
      width="28"
      height="28"
      aria-label="Переключатель мобильного меню"
    >
      <use
        class="mobile-menu__icon--menu"
        href="./images/icons.svg#gg_menu"
      ></use>
    </svg>
  </button>

  <ul class="mobile-menu mobile-menu-nav" data-menu>
    <li class="mobile-menu-nav__item">
      <a class="mobile-menu-nav__link" href="#hero">Home</a>
    </li>
    <li class="mobile-menu-nav__item">
      <a class="mobile-menu-nav__link" href="#offerings">About</a>
    </li>
    <li class="mobile-menu-nav__item">
      <a class="mobile-menu-nav__link" href="#customers">Service</a>
    </li>
    <li class="mobile-menu-nav__item">
      <a class="mobile-menu-nav__link" href="#favorites">Menu</a>
    </li>
    <li class="mobile-menu-nav__item">
      <a class="mobile-menu-nav__link" href="#subscribe">Contact</a>
    </li>
  </ul>

  <div class="header-nav">
    <nav class="nav">
      <ul class="nav__list">
        <li class="nav__item">
          <a class="nav__link" href="#hero">Home</a>
        </li>
        <li class="nav__item">
          <a class="nav__link" href="#offerings">About</a>
        </li>
        <li class="nav__item">
          <a class="nav__link" href="#customers">Service</a>
        </li>
        <li class="nav__item">
          <a class="nav__link" href="">Menu</a>
        </li>
        <li class="nav__item">
          <a class="nav__link" href="#subscribe">Contact</a>
        </li>
      </ul>
    </nav>
    <button class="nav__button" type="button" data-modal-open>Order Now</button>
  </div>
</div>

<!-- Modal form -->
<div class="backdrop is-hidden" data-modal>
  <div class="modal">
    <button class="modal__btn-close" data-modal-close type="button">
      <svg class="modal__icon-close" width="18" height="18">
        <use href="./images/icons.svg#icon-close"></use>
      </svg>
    </button>
    <form name="form">
      <h2 class="form__title">Order Form</h2>
      <label class="form__label" for="name"
        ><span class="form__label-title">Name</span></label
      >
      <div class="form__group">
        <input
          class="form__input"
          type="text"
          name="name"
          id="name"
          required
          placeholder="Your name"
        />
        <svg class="form__icon" width="18" height="18">
          <use href="./images/icons.svg#icon-person"></use>
        </svg>
      </div>
      <label class="form__label" for="tel"
        ><span class="form__label-title">Telephone</span></label
      >
      <div class="form__group">
        <input
          class="form__input"
          type="tel"
          name="tel"
          id="tel"
          required
          placeholder="+38(0_ _) _ _ _   _ _   _ _"
        />
        <svg class="form__icon" width="18" height="18">
          <use href="./images/icons.svg#icon-phone"></use>
        </svg>
      </div>
      <label class="form__label" for="e-mail"
        ><span class="form__label-title">E-mail</span></label
      >
      <div class="form__group">
        <input
          class="form__input"
          type="email"
          name="e-mail"
          id="e-mail"
          required
          placeholder="example@gmail.com"
        />
        <svg class="form__icon" width="18" height="18">
          <use href="./images/icons.svg#icon-email"></use>
        </svg>
      </div>
      <label class="form__label" for="comments"
        ><span class="form__label-title">Comments</span></label
      >
      <textarea
        class="form__comments"
        name="comments"
        id="comments"
        placeholder="Enter the text"
      ></textarea>

      <button class="modal__button" type="submit">Send</button>
    </form>
  </div>
</div>
