<section class="hero">
  <div class="container">
    <h1 class="hero__title">Enjoy Your Favorite Food From&nbsp;Anywhere</h1>
    <div class="hero__container">
      <div class="hero__cont-wrap">
        <p class="hero__text">
          Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse
          varius enim in eros elementum tristique. Duis cursus, mi quis viverra
          ornare, eros dolor interdum nulla, ut commodo diam libero vitae erat.
        </p>
        <button class="hero-btn" type="button">Order Now</button>
      </div>
      <div class="hero__img-wrap">
        <button class="slider-btn slider-btn--left" type="button">
          <svg width="34" height="28" class="slider-btn__icon">
            <use href="./images/icons.svg#left"></use>
          </svg>
        </button>
        <button class="slider-btn slider-btn--right" type="button">
          <svg width="34" height="28" class="slider-btn__icon">
            <use href="./images/icons.svg#Right"></use>
          </svg>
        </button>
        <img
          class="hero__img"
          src="../src/images/hero/foto1-t@1x.png"
          alt="food on plate"
        />
      </div>
    </div>
  </div>
</section>
