<section class="container hero" id="hero">
  <div class="">
    <h1 class="hero__title">Enjoy Your Favorite Food From&nbsp;Anywhere</h1>
    <div class="hero__container">
      <div class="hero__cont-wrap">
        <p class="hero__text">
          Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse
          varius enim in eros elementum tristique. Duis cursus, mi quis viverra
          ornare, eros dolor interdum nulla, ut commodo diam libero vitae erat.
        </p>
        <button class="hero-btn" type="button" data-modal-open1>
          Order Now
        </button>
      </div>
      <div class="hero__img-wrap">
        <div class="wrapper">
          <button class="slider-btn slider-btn--left" type="button">
            <svg width="34" height="28" class="slider-btn__icon">
              <use href="./images/icons.svg#click-left"></use>
            </svg>
          </button>
          <button class="slider-btn slider-btn--right" type="button">
            <svg width="34" height="28" class="slider-btn__icon">
              <use
                class="slider-btn__use"
                href="./images/icons.svg#click-right"
              ></use>
            </svg>
          </button>
          <div class="swiper">
            <div class="swiper-wrapper">
              <!-- Slides -->
              <div class="swiper-slide">
                <picture>
                  <source
                    media="(min-width: 1280px)"
                    srcset="
                      ../src/images/hero/foto1-d@1x.png 1x,
                      ../src/images/hero/foto1-d@2x.png 2x
                    "
                  />
                  <source
                    media="(min-width: 768px)"
                    srcset="
                      ../src/images/hero/foto1-t@1x.png 1x,
                      ../src/images/hero/foto1-t@2x.png 2x
                    "
                  />
                  <img
                    class="hero__img"
                    src="../src/images/hero/foto1-t@1x.png"
                    alt="food on plate"
                  />
                </picture>
              </div>
              <div class="swiper-slide">
                <picture>
                  <source
                    media="(min-width: 1280px)"
                    srcset="
                      ../src/images/hero/foto2-d@1x.png 1x,
                      ../src/images/hero/foto2-d@2x.png 2x
                    "
                  />
                  <source
                    media="(min-width: 768px)"
                    srcset="
                      ../src/images/hero/foto2-t@1x.png 1x,
                      ../src/images/hero/foto2-t@2x.png 2x
                    "
                  />
                  <img
                    class="hero__img"
                    src="../src/images/hero/foto2-t@1x.png"
                    alt="food on plate"
                  />
                </picture>
              </div>
              <div class="swiper-slide">
                <picture>
                  <source
                    media="(min-width: 1280px)"
                    srcset="
                      ../src/images/hero/foto3-d@1x.png 1x,
                      ../src/images/hero/foto3-d@2x.png 2x
                    "
                  />
                  <source
                    media="(min-width: 768px)"
                    srcset="
                      ../src/images/hero/foto3-t@1x.png 1x,
                      ../src/images/hero/foto3-t@2x.png 2x
                    "
                  />
                  <img
                    class="hero__img"
                    src="../src/images/hero/foto3-t@1x.png"
                    alt="food on plate"
                  />
                </picture>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
