<section class="hero">
  <div class="container">
    <h1 class="hero__title">Enjoy Your Favorite Food From Anywhere</h1>
    <p class="hero__text">
      Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse
      varius enim in eros elementum tristique. Duis cursus, mi quis viverra
      ornare, eros dolor interdum nulla, ut commodo diam libero vitae erat.
    </p>
    <button class="hero-btn" type="button">Order Now</button>
    <div class="hero__wrap">
      <button class="slider-btn">
        <svg width="48" height="40" class="slider-btn__icon">
          <use href="#"></use>
        </svg>
      </button>
      <button class="slider-btn">
        <svg width="48" height="40" class="slider-btn__icon">
          <use href="#"></use>
        </svg>
      </button>
      <img class="hero__img" src="#" alt="food on plate" />
    </div>
  </div>
</section>
