<div class="container background-offerings">
  <section class="offerings" id="offerings">
    <div class="offerings__container">
      <div class="offerings__apples">
        <img
          srcset="
            ./images/offerings/w/apple-sm-280.png   280w,
            ./images/offerings/w/apple-md-357.png   357w,
            ./images/offerings/w/apple-lg-550.png   550w,
            ./images/offerings/w/apple-sm-560.png   560w,
            ./images/offerings/w/apple-md-714.png   714w,
            ./images/offerings/w/apple-lg-1100.png 1100w
          "
          sizes="(min-width: 1280px) 550px, (min-width: 768px) 357px, (max-width: 767px) 280px"
          class="offerings__img"
          src="./images/offerings/w/apple-sm-280.png"
          alt="Apple"
        />
        <img
          srcset="
            ./images/offerings/w/apple-166.png 1x,
            ./images/offerings/w/apple-332.png 2x
          "
          class="offerings__img offerings--apple-tablet"
          src="./images/offerings/w/apple-166.png"
          alt="Apple"
          width="166"
        />
        <img
          srcset="
            ./images/offerings/w/apple-108.png 1x,
            ./images/offerings/w/apple-216.png 2x
          "
          class="offerings__img offerings--apple-tablet"
          src="./images/offerings/w/apple-108.png"
          alt="Apple"
          width="108"
        />
      </div>
      <div class="offerings__content">
        <div class="offerings__main">
          <h2 class="offerings__title">What’s Special About Our Offerings</h2>
          <p class="offerings__text">
            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse
            varius enim in eros elementum tristique. Duis cursus, mi quis
            viverra ornare, eros dolor interdum nulla, ut commodo diam libero
            vitae erat.
          </p>
        </div>
        <ul class="offerings__list">
          <li class="offerings__item part-one">
            <h3 class="offerings__title-part">Fasest Delivery</h3>
            <p class="offerings__text-part">
              Lorem ipsum dolor sit amet, consectetur adipiscing elit.
              Suspendisse varius enim in eros.
            </p>
          </li>
          <li class="offerings__item part-two">
            <h3 class="offerings__title-part">Easy To Order</h3>
            <p class="offerings__text-part">
              Lorem ipsum dolor sit amet, consectetur adipiscing elit.
              Suspendisse varius enim in eros.
            </p>
          </li>
        </ul>
        <div class="offerings__call-container">
          <button class="offerings__button" type="button" data-modal-open2>
            Order Now
          </button>
          <a href="" class="offerings__call"
            >Read More
            <svg
              class="offerings__call-icon"
              width="14"
              height="14"
              aria-label="Icon"
            >
              <use class="" href="./images/icons.svg#Chevron-Down"></use>
            </svg>
          </a>
        </div>
      </div>
    </div>
  </section>
</div>
