<div class="container offerings">
  <section class="section">
    <div>
      <ul class="offerings__list offerings__list--apple">
        <li class="offerings__item offerings__item--apple apples">
          <img
            srcset="
              ./images/offerings/w/apple-sm-280.png   280w,
              ./images/offerings/w/apple-md-357.png   357w,
              ./images/offerings/w/apple-lg-550.png   550w,
              ./images/offerings/w/apple-sm-560.png   560w,
              ./images/offerings/w/apple-md-714.png   714w,
              ./images/offerings/w/apple-lg-1100.png 1100w
            "
            sizes="(min-width: 1200px) 550px, (min-width: 768px) 357px, 100vw"
            class="offerings__img"
            src="./images/offerings/w/apple-sm-280.png"
            alt="Apple"
            width="280"
            height="auto"
          />
        </li>
        <li class="offerings__item offerings__item--tablet apples">
          <!-- <img
          srcset="
            ./images/offerings/w/apple-166.png 166w,
            ./images/offerings/w/apple-332.png 332w
          "
          sizes="(min-width: 1200px) 396px, (min-width: 768px) 258px, 100vw"
          class="offerings__img"
          src="./images/offerings/w/apple-166.png"
          alt="Apple"
          width="166"
          height="auto"
        /> -->
          <img
            srcset="
              ./images/offerings/w/apple-166.png 1x,
              ./images/offerings/w/apple-332.png 2x
            "
            class="offerings__img"
            src="./images/offerings/w/apple-166.png"
            alt="Apple"
            width="166"
            height="auto"
          />
        </li>
        <li class="offerings__item offerings__item--tablet apples">
          <!-- <img
          srcset="
            ./images/offerings/w/apple-108.png 108w,
            ./images/offerings/w/apple-216.png 216w
          "
          sizes="(min-width: 1200px) 396px, (min-width: 768px) 258px, 100vw"
          class="offerings__img"
          src="./images/offerings/w/apple-108.png"
          alt="Apple"
          width="108"
          height="auto"
        /> -->
          <img
            srcset="
              ./images/offerings/w/apple-108.png 1x,
              ./images/offerings/w/apple-216.png 2x
            "
            class="offerings__img"
            src="./images/offerings/w/apple-108.png"
            alt="Apple"
            width="108"
            height="auto"
          />
        </li>
      </ul>
    </div>
    <div>
      <div class="offerings__main">
        <h2 class="offerings__title">What’s Special About Our Offerings</h2>
        <p class="offerings__text">
          Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse
          varius enim in eros elementum tristique. Duis cursus, mi quis viverra
          ornare, eros dolor interdum nulla, ut commodo diam libero vitae erat.
        </p>
      </div>
      <ul class="offerings__list offerings__list--part">
        <li class="offerings__item offerings__item--part">
          <div>
            <a class="offerings__icon" href="">
              <svg class="" width="32" height="32" aria-label="Icon">
                <use class="" href="./images/icons.svg#rocket_launch"></use>
              </svg>
            </a>
            <h3 class="offerings__title-part">Fasest Delivery</h3>
            <p class="offerings__text-part">
              Lorem ipsum dolor sit amet, consectetur adipiscing elit.
              Suspendisse varius enim in eros.
            </p>
          </div>
        </li>
        <li class="offerings__item offerings__item--part">
          <div>
            <a class="offerings__icon" href="">
              <svg class="" width="32" height="32" aria-label="Icon">
                <use class="" href="./images/icons.svg#touch_app"></use>
              </svg>
            </a>
            <h3 class="offerings__title-part">Easy To Order</h3>
            <p class="offerings__text-part">
              Lorem ipsum dolor sit amet, consectetur adipiscing elit.
              Suspendisse varius enim in eros.
            </p>
          </div>
        </li>
      </ul>
      <div class="offerings__call-container">
        <button class="offerings__button" type="button">Order Now</button>
        <a href="" class="offerings__call"
          >Read More
          <svg
            class="offerings__call-icon"
            width="14"
            height="14"
            aria-label="Icon"
          >
            <use class="" href="./images/icons.svg#Chevron-Down"></use></svg
        ></a>
      </div>
    </div>
  </section>
</div>
