<section class="subscribe">
  <div class="container">
    <h2 class="subscribe__title">Subscribe To Get Special Offers</h2>
    <p class="subscribe__text">
      Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse
      varius enim in eros elementum tristique.
    </p>
    <form class="subscribe__form">
      <div class="subscribe__form-group">
        <input
          type="email"
          id="subscribe-email"
          name="subscribe-email"
          minlength="5"
          maxlength="70"
          placeholder="E-mail"
          class="subscribe__input"
        />
        <button type="submit" class="subscribe__btn">Subscribe</button>
      </div>
    </form>
  </div>
</section>
