<section class="container subscribe" id="subscribe">
  <div class="subscribe__container">
    <div class="subscribe__img">
      <img
        srcset="
          ./images/subscribe/w/banan-161.png   161w,
          ./images/subscribe/w/banan-281.png   281w,
          ./images/subscribe/w/banan-322.png   322w,
          ./images/subscribe/w/banan-546.png   546w,
          ./images/subscribe/w/banan-562.png   562w,
          ./images/subscribe/w/banan-1092.png 1092w
        "
        sizes="(min-width: 1280px) 546px, (min-width: 768px) 281px, (max-width: 767px) 161px, 100vw"
        src="./images/subscribe/w/banan-1092.png "
        alt="banan"
      />
    </div>
    <div class="subscribe__main">
      <h2 class="subscribe__title">Subscribe To Get Special Offers</h2>
      <p class="subscribe__text">
        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse
        varius enim in&nbsp;eros elementum tristique.
      </p>
      <form class="subscribe__form">
        <input
          type="email"
          id="subscribe-email"
          name="subscribe-email"
          minlength="5"
          maxlength="70"
          placeholder="Enter your email"
          class="subscribe__input"
        />

        <button type="submit" class="subscribe__btn">Subscribe</button>

        <div class="subscribtion-formtitle">
          <svg class="subscribtion__icon" width="12" height="12">
            <use
              class="subscribtion__eror"
              href="./images/icons.svg#icon-Frameerror"
            ></use>
          </svg>
          <span class="subscribtion__text-eror"
            >Not a valid email address (example@email.com)</span
          >
        </div>
      </form>
    </div>
  </div>
</section>
