<section class="subscribe">
  <div class="container">
    <img
      srcset="
        ./src/images/subscribe/banan-161.jpg   161w,
        ./src/images/subscribe/banan-281.jpg   281w,
        ./src/images/subscribe/banan-322.jpg   322w,
        ./src/images/subscribe/banan-546.jpg   546w,
        ./src/images/subscribe/banan-562.jpg   562w,
        ./src/images/subscribe/banan-1091.jpg 1091w
      "
      class="subscribe__img"
      sizes="(min-width: 1280px) 161px, (min-width: 768px) 281px, 100vw"
      src=" ./src/images/subscribe/banan-161.jpg"
      alt="banan"
      width="546"
      height="266"
    />
    <h2 class="subscribe__title">Subscribe To Get Special Offers</h2>
    <p class="subscribe__text">
      Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse
      varius enim in eros elementum tristique.
    </p>
    <form class="subscribe__form">
      <div class="subscribe__form-group">
        <input
          type="email"
          id="subscribe-email"
          name="subscribe-email"
          minlength="5"
          maxlength="70"
          placeholder="E-mail"
          class="subscribe__input"
        />
        <button type="submit" class="subscribe__btn">Subscribe</button>
      </div>
    </form>
  </div>
</section>
