.header__logo {
  width: 66px;
  height: 52px;

  padding-top: 10px;
  padding-bottom: 10px;

  // display: block;
  display: flex;
  align-items: center;

  // @media screen and (min-width: $tablet) {
  //   margin-right: 88px;
  // }

  // @media screen and (min-width: $desktop) {
  //   margin-right: 93px;
  // }
}
