.mobile-menu__button-container {
  // position: relative;
  position: absolute;

  // margin-right: 0;

  width: 28px;
  height: 28px;

  display: flex;

  top: 22px;
  right: 20px;

  // display: block;

  // justify-content: flex-end;

  // margin: 0;
  // padding: 0;
  // align-items: center;
  // justify-content: end;

  // padding-top: 22px;
  // padding-bottom: 22px;
}

.mobile-menu__button {
  // position: absolute;

  // z-index: 999;
  // top: 22px;
  // right: 15px;

  // width: 28px;
  // height: 28px;

  // display: inline-flex;
  // display: flex;
  // align-items: center;

  margin: 0;
  padding: 0;
  // padding-top: 22px;
  // padding-bottom: 22px;

  border: none;
  background-color: transparent;
  // fill: $footerLinkColor;
  fill: $footerLinkColor;
  cursor: pointer;

  @media screen and (min-width: $tablet) {
    display: none;
  }
}

.mobile-menu {
  position: absolute;

  top: 50px;
  right: 20px;

  display: none;

  // overflow: auto;
  // z-index: 999;

  transform: translateX(100%);
  transition: transform $timingFunction;

  background-color: $primaryBgColor;
  overflow-y: scroll;

  // overflow: hidden;

  @media screen and (max-width: calc($tablet - 1px)) {
    &.is-open {
      display: flex;
      flex-direction: column;
      width: 130px;
      // height: 255px;
      box-shadow: 0px 4px 24px rgba(105, 105, 105, 0.1);
      border-radius: 30px 0px 30px 30px;

      transform: translateX(0);

      // overflow: hidden;
    }
  }
}

.mobile-menu__icon:hover,
.mobile-menu__icon:focus {
  fill: $footerLinkColor;
}

.mobile-menu-nav {
  @extend %list;

  // margin-bottom: 60px;
}

.mobile-menu-nav__item {
  font-weight: 400;
  font-size: 16px;
  line-height: calc(19 / 16);

  color: $mobileMenuColor;
}

.mobile-menu-nav__item:hover,
.mobile-menu-nav__item:focus {
  background-color: $btnBgColor;
}

.mobile-menu-nav__link {
  @extend %link;

  display: inline-block;
  margin: 16px;
}
