.background-customers {
  max-width: 1920px;

  background-image: url(../images/customers-say/background/customers-320.svg);

  background-size: 100% 100%;
  background-repeat: no-repeat;

  @media screen and (min-width: 480px) {
    background-image: url(../images/customers-say/background/sm-2.svg);
  }

  @media screen and (min-width: 768px) {
    background-image: url(../images/customers-say/background/md-2.svg);
  }

  @media screen and (min-width: 1280px) {
    background-image: url(../images/customers-say/background/lg-2.svg);
  }
}

.customers {
  padding-top: 60px;
  padding-bottom: 60px;

  @media screen and (min-width: 768px) {
    padding-bottom: 120px;
  }

  @media screen and (min-width: 1280px) {
    padding-bottom: 200px;
  }
}

.customers__title {
  font-weight: 700;
  font-size: 28px;
  line-height: 1.18;

  color: #2c2c2c;

  margin-bottom: 20px;
  @media screen and (min-width: 768px) {
    font-weight: 700;
    font-size: 42px;
    line-height: 1.17;
  }
}
.customers__text {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.14;

  color: #2c2c2c;
  margin-bottom: 32px;

  @media screen and (min-width: 768px) {
    font-size: 16px;
    line-height: 1.19;
  }
}
.customers__list {
  @extend %list;

  display: flex;
  flex-direction: column;
  gap: 32px;

  @media screen and (min-width: 768px) {
    flex-direction: row;
  }
  @media screen and (min-width: 1280px) {
    gap: 140px;
  }
}
.customers-cards {
  background-color: #fff;
  padding: 8px;
  border-radius: 32px;
  border-top-left-radius: 0px;

  @media screen and (min-width: 768px) {
    width: 336px;
    padding: 12px;
  }
  @media screen and (min-width: 1280px) {
    width: 500px;
  }
}
.customers-cards__icons {
  margin-bottom: 28px;
}

.customers-card__text {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.19;

  color: #2c2c2c;
  margin-bottom: 40px;

  @media screen and (min-width: 768px) {
    font-size: 18;
    line-height: 1.17;
    width: 312px;
  }
  @media screen and (min-width: 1280px) {
    width: 473px;
  }
}
.customers__user {
  display: flex;
  align-items: center;

  gap: 16px;

  width: 160px;
  border-right: 1px solid #7eb101;
}

.customers__img {
  @extend %img;
}

.user__name {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.5;
  color: #2c2c2c;

  display: block;
  margin-bottom: 2px;
}

.user__category {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.5;
  color: #2c2c2c;
}
