.footer {
    padding-top: 60px;
    padding-bottom: 60px;

   @media screen and (min-width:768px)and (min-width:1280px) {
    padding-top: 100px;
    padding-bottom: 100px;
   }

}

.footer-container {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;

  /*  @media screen and (min-width:768px) {
        align-items: baseline;
        justify-content: space-around;
        flex-direction: row;
        flex-wrap: wrap;

    }

    @media screen and (min-width:1280px) {
        align-items: baseline;

        justify-content: space-between;

    }*/
}

.footer-logo {

   display: flex;
   margin-right: 81px;
    
   
    width: 62px;
    height: 52px;
    padding: 0;

   /* @media screen and (min-width:$tablet) {
        position: sticky;
        top: 100px;
        left: 33px;
    }
    @media screen and (min-width:$desktop) {
        position: absolute;
        top: 100px;
        left: 16px;
    }*/
}


.footer-nav {
    display: flex;
    text-align: center;
    justify-content: center;
    margin-bottom: 40px;
    width: 100%;

    @media screen and (min-width:$tablet) {
        margin-bottom: 73px;
    }

    @media screen and (min-width:$desktop) {
        margin-bottom: 0;
        
    }
}

.footer-nav__list{
    display: inline-block;
    padding: 0;
    list-style: none;
    

    @media screen and(min-width:$tablet)  {
        display: flex;
        justify-content: center;
    }
    @media screen and (min-width:$desktop){
        display: flex;

    }
}
.footer-nav__link{
    color: #000000;
    font-weight: 400;
    font-size: 14px;
    line-height: calc(16/14);
    text-decoration-line: none;
}

.footer-nav__item:not(:last-child){
margin-bottom: 20px;

@media screen and(min-width:$tablet)  {
    margin-bottom: 0;
        margin-right: 28px;
    }
    
}
.subscribe-footer{
    display: block;
    margin-bottom: 60px;
}
.subscribe-footer__title{
    margin-bottom: 12px;
    color: $primaryTextColor;
    font-weight: 500;
    font-size: 14px;
    line-height: calc(21/14);
}
.subscribe-footer__label{
    display: flex;
    align-items: center;
    width: 279px;

    margin-bottom: 20px;


    background: $primaryBgColor;
    border: 0.854167px solid $additionalColor;
    border-radius: 30px;

    @media screen and (max-width:$tablet) and(min-width:$desktop){
        display: inline;
    }
}
.subscribe-footer__input{
    display: inline-block;
    padding-top: 12px;
    padding-bottom: 12px;
    padding-left: 12px;
    width: 205px;
    height: 42px;
    border: none;

    color: #505050;

    font-weight: 400;
    font-size: 12px;
    line-height: calc(18/12);

}

.subscribe-btn{
    display: inline-block;
    align-items: center;
    gap: 13px;
    padding: 11px 22px;
    margin-bottom: 20px;

    color: $primaryTextColor;

    font-weight: 500;
    font-size: 13px;
    line-height: calc(19/13);

    background:$primaryBgColor;
    border: 0.854167px solid $footerLinkColor;
    border-radius: 30px;

    &:focus,
    &:hover{
        background: $additionalColor;
       
    }
}

.subscribe__span{
    display: flex;
    gap:4px;
    font-weight: 400;
    font-size: 10px;
    line-height: calc(12/10);
    
    color: $primaryTextColor;
}
.subscribe__link{
    color:$footerLinkColor;
}

.footer-special__list{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    gap: 32px;
    list-style: none;

}  
.footer-specia__link{
    font-weight: 400;
    font-size: 10px;
    line-height: calc(12/10);
        
     text-decoration-line: underline;
     
    
    color: $footerLinkColor;
}
.footer-specia__link-dark{

    color: $primaryTextColor;
}