// .footer {
//   background-color: $headerBgColor;
//   box-shadow: 0px -4px 24px rgba(105, 105, 105, 0.1);

//   background-repeat: no-repeat;

//   padding-top: 60px;
//   padding-bottom: 60px;

//   @media screen and (min-width: 320px) {
//     background-size: 104px, 253px, 110px;
//     background-position: top 0px right, bottom, top 132px left;
//     background-image: url(../images/footer/x/right@1x_sm.png),
//       url(../images/footer/x/central@1x_sm.png),
//       url(../images/footer/x/left@1x_sm.png);

//     @media (min-device-pixel-ratio: 2),
//       (min-resolution: 192dpi),
//       (min-resolution: 2dppx) {
//       background-image: url(../images/footer/x/right@2x_sm.png),
//         url(../images/footer/x/central@2x_sm.png),
//         url(../images/footer/x/left@2x_sm.png);
//     }
//   }

//   @media screen and (min-width: 768px) {
//     padding-top: 100px;
//     padding-bottom: 80px;
//     background-size: 203px, 785px;
//     // background-position: top 0px right, top 0px center;
//     background-position: top 0px right, bottom;
//     background-image: url(../images/footer/x/right@1x_md.png),
//       url(../images/footer/x/central@1x_md.png);

//     @media (min-device-pixel-ratio: 2),
//       (min-resolution: 192dpi),
//       (min-resolution: 2dppx) {
//       background-image: url(../images/footer/x/right@2x_md.png),
//         url(../images/footer/x/central@2x_md.png);
//     }
//   }

//   @media screen and (min-width: 1280px) {
//     background-size: 1280px;
//     background-position: bottom;
//     background-image: url(../images/footer/x/central@1x_lg.png);

//     @media (min-device-pixel-ratio: 2),
//       (min-resolution: 192dpi),
//       (min-resolution: 2dppx) {
//       background-image: url(../images/footer/x/central@2x_lg.png);
//     }
//   }
// }

// .footer__main {
//   @media screen and (min-width: 1280px) {
//     display: flex;

//     justify-content: space-between;
//     margin-bottom: 80px;
//   }
// }

// .footer-nav {
//   display: flex;
//   flex-direction: row;

//   margin-bottom: 30px;

//   @media screen and (min-width: 768px) {
//     margin-bottom: 40px;
//   }
// }

// .footer__logo {
//   width: 69px;
//   height: 51px;

//   margin-right: 81px;

//   @media screen and (min-width: 768px) {
//     margin-right: 0;
//   }

//   @media screen and (min-width: 1280px) {
//   }
// }

// .footer-nav__list {
//   @extend %list;

//   display: flex;
//   flex-direction: column;

//   @media screen and (min-width: 768px) {
//     flex-direction: row;
//     text-align: center;
//     align-items: center;
//     margin-right: auto;
//     margin-left: 114px;
//     gap: 28px;
//   }

//   @media screen and (min-width: 1280px) {
//     margin-left: 145px;
//   }
// }

// .footer-nav__link {
//   @extend %link;

//   gap: 20px;

//   font-weight: 400;
//   font-size: 14px;
//   line-height: 16px;
//   color: $mobileMenuColor;

//   transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);

//   &:hover,
//   &:focus {
//     color: $btnBgColor;
//     text-decoration-line: underline;
//   }

//   display: inline-block;
//   padding-top: 10px;
//   padding-bottom: 10px;

//   @media screen and (min-width: 768px) {
//     padding-top: 20px;
//     padding-bottom: 20px;
//   }
// }

// .footer-subscribe__title {
//   margin-bottom: 12px;
//   font-weight: 600;
//   font-size: 14px;
//   line-height: 150%;
//   color: $primaryTextColor;
//   display: inline-block;
// }

// .footer-subscribe__input {
//   width: 100%;
//   width: 279px;
//   height: 42px;
//   padding: 12px;
//   margin-bottom: 20px;
//   font-weight: 400;
//   font-size: 12px;
//   line-height: 150%;
//   color: $footerTextColor;
//   border: 0.854167px solid $additionalColor;
//   border-radius: 30px;
//   outline: transparent;

//   transition: border 250ms cubic-bezier(0.4, 0, 0.2, 1);

//   @media screen and (min-width: 768px) {
//     margin: 0;
//   }

//   &:invalid {
//     border: 0.854167px solid $footerInputError;
//   }
//   &:valid {
//     border: 0.854167px solid $footerLinkColor;
//   }
//   &:placeholder-shown {
//     border: 0.854167px solid $additionalColor;
//   }

//   margin-bottom: 20px;

//   @media screen and (min-width: 768px) {
//     margin-bottom: 12px;
//     margin-right: 13px;
//   }
// }

// .footer-subscribe__btn {
//   display: flex;
//   text-align: center;
//   margin-left: auto;

//   padding: 10px 22px;
//   font-weight: 500;
//   font-size: 13px;
//   line-height: 150%;
//   border-radius: 30px;
//   color: $primaryTextColor;
//   background-color: $primaryBgColor;
//   border: 0.854167px solid $footerLinkColor;

//   transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);

//   @media screen and (min-width: 768px) {
//     display: inline-block;

//     margin: 0;
//   }
// }

// .footer-subscribe__btn:hover {
//   background-color: $additionalColor;
// }

// .footer-subscribe__agreement {
//   display: inline-block;
//   margin-bottom: 20px;

//   font-weight: 400;
//   font-size: 10px;
//   line-height: calc(12 / 10);
//   color: $primaryTextColor;

//   @media screen and (min-width: 768px) {
//     font-size: 12px;
//     margin-bottom: 100px;
//     display: block;
//   }

//   @media screen and (min-width: 1280px) {
//     margin-bottom: 0px;
//   }
// }

// .agreement-link {
//   @extend %link;

//   display: inline-block;
//   padding-top: 20px;
//   padding-bottom: 20px;

//   text-decoration-line: underline;
//   color: $footerLinkColor;
// }

// .footer-category {
//   @media screen and (min-width: 768px) {
//     display: flex;
//     justify-content: space-between;
//     align-items: baseline;
//   }
// }

// .footer-category__list {
//   @extend %list;

//   display: flex;
//   text-align: center;
//   align-items: center;
//   justify-content: center;
//   gap: 33px;
//   margin-bottom: 20px;

//   @media screen and (min-width: 768px) {
//     margin-bottom: 0px;
//     gap: 20px;
//   }
// }

// .footer-category__link {
//   @extend %link;

//   display: inline-block;
//   padding-top: 20px;
//   padding-bottom: 20px;

//   font-weight: 400;
//   font-size: 10px;
//   line-height: calc(12 / 10);
//   text-decoration-line: underline;
//   color: $footerLinkColor;

//   @media screen and (min-width: 768px) {
//     font-size: 12px;
//   }
// }

// .footer-copyright {
//   display: block;
//   text-align: center;
//   align-items: center;
//   justify-content: center;

//   font-weight: 400;
//   font-size: 10px;
//   line-height: calc(12 / 10);
//   color: $primaryTextColor;

//   @media screen and (min-width: 768px) {
//     font-size: 12px;
//   }
// }

// .footer-subscribe__form {
//   position: relative;
// }

// .footer-formtitle {
//   display: inline-flex;

//   top: 42px;
//   left: 0;

//   align-items: center;

//   position: absolute;

//   opacity: 0;
// }
// .footer-subscribe__input:invalid:not(:placeholder-shown) ~ .footer-formtitle {
//   opacity: 1;
// }
// .footer__text-eror {
//   font-style: normal;
//   font-weight: 400;
//   font-size: 10px;
//   line-height: 150%;
//   color: #ff705d;
// }
// .footer__icon {
//   text-align: center;

//   margin-right: 4px;

//   fill: #ff705d;
// }

.footer {
  padding-top: 60px;
  padding-bottom: 60px;
  background-color: #fefefe;
  box-shadow: 0px -4px 24px rgba(105, 105, 105, 0.1);

  background-repeat: no-repeat;

  @media screen and (min-width: 320px) {
    background-size: 104px, 253px, 110px;
    background-position: top 0px right, top 563px center, top 132px left;
    background-image: url(../images/footer/x/right@1x_sm.png),
      url(../images/footer/x/central@1x_sm.png),
      url(../images/footer/x/left@1x_sm.png);

    @media (min-device-pixel-ratio: 2),
      (min-resolution: 192dpi),
      (min-resolution: 2dppx) {
      background-image: url(../images/footer/x/right@2x_sm.png),
        url(../images/footer/x/central@2x_sm.png),
        url(../images/footer/x/left@2x_sm.png);
    }
  }

  @media screen and (min-width: 768px) {
    padding-top: 100px;
    padding-bottom: 100px;
    background-size: 203px, 785px;
    background-position: top 0px right, top -12px center;
    background-image: url(../images/footer/x/right@1x_md.png),
      url(../images/footer/x/central@1x_md.png);

    @media (min-device-pixel-ratio: 2),
      (min-resolution: 192dpi),
      (min-resolution: 2dppx) {
      background-image: url(../images/footer/x/right@2x_md.png),
        url(../images/footer/x/central@2x_md.png);
    }
  }

  @media screen and (min-width: 1280px) {
    background-size: 1211px;
    background-position: bottom;
    background-image: url(../images/footer/x/central@1x_lg.png);

    @media (min-device-pixel-ratio: 2),
      (min-resolution: 192dpi),
      (min-resolution: 2dppx) {
      background-image: url(../images/footer/x/central@2x_lg.png);
    }
  }
}

.footer__section {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin-bottom: 60px;

  @media screen and (min-width: 768px) {
    margin-bottom: 100px;
  }

  @media screen and (min-width: 1280px) {
    flex-wrap: nowrap;
    justify-content: space-between;
    margin-bottom: 80px;
  }
}

.footer__logo {
  display: block;
  max-width: 100%;
  height: auto;

  width: 69px;
  height: 51px;
}

.footer-nav__list {
  margin-right: auto;
  margin-left: auto;
  margin-bottom: 40px;

  @media screen and (min-width: 768px) {
    display: flex;
    text-align: center;
    align-items: center;
    margin-bottom: 57px;
    gap: 28px;
  }
}

.footer-nav__item:not(:last-child) {
  @media screen and (max-width: 767px) {
    margin-bottom: 20px;
  }
}

.footer-nav__link {
  display: inline-block;
  font-weight: 400;
  font-size: 14px;
  line-height: 16px;
  color: #000000;

  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.footer-nav__link:hover {
  color: #bbf330;
}

.footer-subscribe {
  width: 100%;
  @media screen and (min-width: 1280px) {
    max-width: 395px;
  }
}

.footer-subscribe__title {
  display: inline-block;
  margin-bottom: 12px;
  font-weight: 500;
  font-size: 14px;
  line-height: 150%;
  color: #2c2c2c;
}

.footer-subscribe__group {
  @media screen and (min-width: 768px) {
    display: flex;
    flex-direction: row;
    gap: 13px;
    margin-bottom: 12px;
  }
}

.footer-subscribe__email {
  margin-bottom: 20px;

  @media screen and (min-width: 768px) {
    margin-bottom: 0px;
  }
}

.footer-subscribe__input {
  width: 100%;
  height: 42px;
  padding: 12px;
  margin-bottom: 20px;
  font-weight: 400;
  font-size: 12px;
  line-height: 150%;
  color: #505050;
  border: 0.854167px solid #ffe550;
  border-radius: 30px;
  outline: transparent;

  transition: border 250ms cubic-bezier(0.4, 0, 0.2, 1);

  @media screen and (min-width: 768px) {
    min-width: 279px;
    margin: 0;
  }
}

.footer-subscribe__input:hover {
  border: 0.854167px solid #7eb101;
}

.footer-subscribe__input:invalid {
  border: 0.854167px solid #ff705d;
}

.footer-subscribe__btn {
  display: flex;
  text-align: center;
  margin-left: auto;
  margin-bottom: 20px;
  padding: 10px 22px;
  font-weight: 500;
  font-size: 13px;
  line-height: 150%;
  border-radius: 30px;
  color: #2c2c2c;
  background-color: #ffffff;
  border: 0.854167px solid #7eb101;

  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);

  @media screen and (min-width: 768px) {
    display: block;
    align-items: center;
    margin: 0;
  }
}

.footer-subscribe__btn:hover {
  background-color: #ffe550;
}

.footer-subscribe__agreement {
  display: inline-block;
  font-weight: 400;
  font-size: 10px;
  line-height: calc(12 / 10);
  color: #2c2c2c;

  @media screen and (min-width: 768px) {
    font-size: 12px;
  }

  @media screen and (min-width: 1280px) {
    margin-bottom: 0px;
  }
}

.agreement-link {
  text-decoration-line: underline;
  color: #7eb101;
}

.footer-category {
  display: block;

  @media screen and (min-width: 768px) {
    display: flex;
    justify-content: space-between;
    align-items: baseline;
  }
}

.footer-category__list {
  display: flex;
  text-align: center;
  align-items: center;
  justify-content: center;
  gap: 33px;
  margin-bottom: 40px;

  @media screen and (min-width: 768px) {
    margin-bottom: 0px;
    gap: 20px;
  }
}

.footer-category__link {
  font-weight: 400;
  font-size: 10px;
  line-height: calc(12 / 10);
  text-decoration-line: underline;
  color: #7eb101;

  @media screen and (min-width: 768px) {
    font-size: 12px;
  }
}

.footer-copyright {
  display: block;
  text-align: center;
  align-items: center;
  justify-content: center;
  font-weight: 400;
  font-size: 10px;
  line-height: calc(12 / 10);
  color: #2c2c2c;

  @media screen and (min-width: 768px) {
    font-size: 12px;
  }
}
