.header {
  position: sticky;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 1000;

  box-shadow: 0px 4px 24px rgba(105, 105, 105, 0.1);
}

.header__container {
  display: flex;
  align-items: center;
  justify-content: space-between;

  background-color: $headerBgColor;

  height: 72px;
}

.header__logo {
  width: 66px;
  height: 52px;
}

.header-nav {
  display: flex;
  align-items: center;
  justify-content: center;

  @media screen and (max-width: calc($tablet - 1px)) {
    display: none;
  }
}

.nav {
  display: flex;
  align-items: center;

  align-items: center;
  margin-right: 30px;
}

.nav__list {
  @extend %list;

  flex-wrap: wrap;

  gap: $indent-one;

  display: flex;
}

.nav__link {
  @extend %link;

  display: inline-block;

  padding-top: 28px;
  padding-bottom: 28px;

  font-weight: 400;
  font-size: 14px;
  line-height: calc(16 / 14);

  color: $mobileMenuColor;

  transition: color $timingFunction, text-decoration-line $timingFunction;

  @media screen and (min-width: $desktop) {
    color: $primaryTextColor;
  }

  &:hover,
  &:focus {
    color: $btnBgColor;
    text-decoration-line: underline;
  }
}

.nav__button {
  @extend %button;

  display: block;

  font-weight: 500;
  font-size: 13px;

  background-color: $btnBgColor;

  transition: background-color $timingFunction;

  &:hover,
  &:focus {
    background-color: $btnBgAccentColor;
  }
}
