.hero {
  padding-top: 60px;
  padding-bottom: 50px;

  @media screen and (min-width: $tablet) {
    padding-bottom: 0;
  }

  @media screen and (min-width: $desktop) {
    padding-top: 159px;
    padding-bottom: 14px;
  }
}

.hero__title {
  margin-bottom: 28px;
  font-weight: 700;
  font-size: 28px;
  line-height: calc(33 / 28);

  @media screen and (min-width: $tablet) {
    margin-bottom: 44px;
    font-size: 42px;
    line-height: 120%;
  }

  @media screen and (min-width: $desktop) {
    margin-bottom: 28px;
    font-size: 48px;
    line-height: 120%;
    width: calc(5 / 12 * (100% - 32px));
  }
}

.hero__container {
  @media screen and (min-width: $tablet) {
    display: flex;
  }
}

.hero__cont-wrap {
  flex-basis: calc((100% - 32px) / 2);
  margin-right: auto;

  @media screen and (min-width: $desktop) {
    flex-basis: calc(5 / 12 * (100% - 32px));
  }
}

.hero__text {
  margin-bottom: 28px;
  font-size: 14px;
  line-height: 150%;

  width: 266px;

  @media screen and (min-width: $tablet) {
    margin-bottom: 40px;
    font-size: 16px;
    width: auto;
  }
}

.hero-btn {
  padding: 6px 18px;

  font-weight: 500;
  font-size: 13px;
  line-height: 150%;
  text-align: right;
  background-color: $btnBgColor;

  border: transparent;
  border-radius: 30px;
  cursor: pointer;

  transition: background-color $timingFunction;

  &:hover,
  &:focus {
    background-color: $btnBgAccentColor;
  }
}

.hero__img-wrap {
  position: relative;
  display: none;

  @media screen and (min-width: $tablet) {
    margin-top: -55px;
    margin-left: 8px;
    margin-right: 8px;
    display: block;
    border-radius: 50%;
    border: 14px solid;
    border-color: $additionalColor;
    transition: border-color $timingFunction;
  }

  @media screen and (min-width: $desktop) {
    margin-top: -289px;
    border: 26px solid;
    border-color: $additionalColor;
    transition: border-color $timingFunction;
  }

  &:hover {
    border-color: $btnBgColor;
  }
}

.slider-btn {
  z-index: 100;
  padding: 4px;

  & .slider-btn__icon {
    width: 26px;
    height: 20px;
  }

  display: flex;
  align-items: center;
  justify-content: center;

  border: transparent;
  border-radius: 4px;
  cursor: pointer;

  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.06);
  background-color: $headerBgColor;

  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  &--left {
    left: -22px;
  }
  &--right {
    right: -22px;
  }

  transition: fill $timingFunction;
  transition: box-shadow $timingFunction;

  @media screen and (min-width: $desktop) {
    padding: 5px;
    &--left {
      left: -40px;
    }
    &--right {
      right: -40px;
    }

    & .slider-btn__icon {
      width: 38px;
      height: 30px;
    }
  }

  &:hover,
  &:focus {
    fill: $footerLinkColor;
  }

  &:active {
    fill: $mobileMenuColor;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.16);
  }
}

.hero__img {
  @extend %img;
}

.swiper {
  width: 292px;
  height: 292px;

  @media screen and (min-width: $desktop) {
    width: 528px;
    height: 528px;
  }
}

.wrapper {
  border-radius: 50%;
  overflow: hidden;
}
