.container {
  padding-left: 20px;
  padding-right: 20px;
  margin-left: auto;
  margin-right: auto;

  @media screen and (min-width: 480px) {
    width: 480px;
  }

  @media screen and (min-width: 768px) {
    position: relative;
    width: 768px;
    padding-left: 32px;
    padding-right: 32px;
  }

  @media screen and (min-width: 1280px) {
    width: 1280px;
    padding-left: 16px;
    padding-right: 16px;
  }
}

.hero {
  padding-top: 60px;
  padding-bottom: 50px;

  @media screen and (min-width: 768px) {
    padding-bottom: 73px;
  }

  @media screen and (min-width: 1280px) {
    padding-top: 159px;
    padding-bottom: 164px;
  }
}

.hero__title {
  margin-bottom: 28px;
  font-weight: 700;
  font-size: 28px;
  line-height: calc(33 / 28);

  @media screen and (min-width: 768px) {
    margin-bottom: 44px;
    width: 75%;
    font-size: 42px;
    line-height: 120%;
  }

  @media screen and (min-width: 1280px) {
    margin-bottom: 44px;
    width: calc(5 / 12 * 100%);
    font-size: 42px;
    line-height: 120%;
  }
}

.hero__text {
  margin-bottom: 28px;
  font-size: 14px;
  line-height: 150%;

  @media screen and (min-width: 768px) {
    margin-bottom: 40px;
    width: 336px;
    font-size: 16px;
  }

  @media screen and (min-width: 768px) {
    width: calc(5 / 12 * 100%);
  }
}

.hero-btn {
  padding: 6px 18px;
  border: transparent;
  border-radius: 30px;
  font-weight: 500;
  font-size: 13px;
  line-height: 150%;
  text-align: right;
  background-color: $btnBgColor;
}

.hero__wrap {
  display: none;

  @media screen and (min-width: 768px) {
    // position: absolute;
    // top: 89px;
    // right: 32px;

    display: block;
    width: 320px;
    height: 320px;
    border-radius: 50%;
    border: 14px solid $additionalColor;
  }

  @media screen and (min-width: 768px) {
    position: absolute;
    top: 89px;
    right: 32px;

    display: block;
    width: 320px;
    height: 320px;
    border-radius: 50%;
    border: 14px solid $additionalColor;
  }

  @media screen and (min-width: 1280px) {
    top: -145px;
    right: 16px;
    width: 580px;
    height: 580px;
    border: 26px solid $additionalColor;
  }
}
