.offerings {
  padding-top: 41px;
  padding-bottom: 60px;

  @media screen and (min-width: $tablet) {
    padding-top: 150px;
    padding-bottom: 100px;
    margin-top: -190px;
  }

  @media screen and (min-width: $desktop) {
    // padding-top: 177px;
    padding-top: 200px;
    padding-bottom: 43px;
    // flex-direction: row;
  }

  // background-repeat: no-repeat;
  // background-size: cover;

  background-size: 100% 100%;

  background-image: url(../images/offerings/background/sm-1.svg);
  // background-image: url(../images/offerings/Rectangle-sm@1x.png);

  // @media (min-device-pixel-ratio: 2),
  //   (min-resolution: 192dpi),
  //   (min-resolution: 2dppx) {
  //   background-image: linear-gradient(
  //       0deg,
  //       rgba(47, 48, 58, 0.4),
  //       rgba(47, 48, 58, 0.4)
  //     ),
  //     url(../images/offerings/Rectangle-sm@2x.png);
  // }

  @media screen and (min-width: $tablet) {
    // margin-top: -108px;

    background-image: url(../images/offerings/background/md-1.svg);

    // background-image: url(../images/offerings/Rectangle-md@1x.png);
    // @media (min-device-pixel-ratio: 2),
    //   (min-resolution: 192dpi),
    //   (min-resolution: 2dppx) {
    //   background-image: linear-gradient(
    //       0deg,
    //       rgba(47, 48, 58, 0.4),
    //       rgba(47, 48, 58, 0.4)
    //     ),
    //     url(../images/offerings/Rectangle-md@2x.png);
    // }
  }

  @media screen and (min-width: $desktop) {
    // margin-top: -161px;

    background-image: url(../images/offerings/background/lg-1.svg);

    // background-image: url(../images/offerings/Rectangle-lg@1x.png);

    // @media (min-device-pixel-ratio: 2),
    //   (min-resolution: 192dpi),
    //   (min-resolution: 2dppx) {
    //   background-image: linear-gradient(
    //       0deg,
    //       rgba(47, 48, 58, 0.4),
    //       rgba(47, 48, 58, 0.4)
    //     ),
    //     url(../images/offerings/Rectangle-lg@2x.png);
    // }
  }

  &--apple-tablet {
    display: none;
    @media screen and (min-width: $tablet) and (max-width: $tablet-max) {
      display: block;
      padding-bottom: 67px;
    }
  }
}

.offerings__container {
  // display: flex;
  // flex-direction: column;
  // align-items: center;

  // padding-top: 41px;

  // @media screen and (min-width: $tablet) {
  //   padding-top: 150px;
  // }

  @media screen and (min-width: $desktop) {
    display: flex;
    align-items: center;
    // padding-top: 177px;
    // flex-direction: row;
  }
}

.offerings__apples {
  // margin-bottom: 60px;

  @media screen and (min-width: $tablet) {
    display: flex;
    flex-wrap: nowrap;
    justify-content: space-between;
    align-items: baseline;
    margin-bottom: 60px;
  }

  @media screen and (min-width: $desktop) {
    margin-right: 90px;
    margin-bottom: 43px;
  }
}

.offerings__apples,
.offerings__content {
  @media screen and (min-width: $tablet) and (max-width: $tablet-max) {
    width: 100%;
  }
}

.offerings__list {
  // margin-bottom: 28px;

  // @media screen and (min-width: $desktop) {
  //   margin-bottom: 32px;
  // }

  // display: flexbox;

  @media screen and (min-width: $tablet) {
    margin-bottom: 40px;
    display: flex;
    gap: 116px;
  }

  @media screen and (min-width: $desktop) {
    margin-bottom: 32px;
    gap: 67px;
  }
}

.offerings__content {
  display: flexbox;
  gap: 28px;
}

// . {

//   @media screen and (min-width: $tablet) {
//     display: flex;
//     gap: 116px;
//   }

//   @media screen and (min-width: $desktop) {
//     gap: 67px;
//   }
// }

.offerings__main {
  margin-top: 28px;
  margin-bottom: 28px;

  @media screen and (min-width: $desktop) {
    margin-bottom: 0;
    margin-bottom: 40px;
  }
}

.offerings__title {
  font-weight: 700;
  font-size: 28px;
  line-height: calc(33 / 28);

  color: $primaryTextColor;

  display: block;
  margin-bottom: 20px;

  @media screen and (min-width: $tablet) {
    margin-right: 210px;
    font-size: 42px;
    line-height: calc(49 / 42);
  }

  @media screen and (min-width: $desktop) {
    line-height: calc(50 / 42);
    margin-right: 0px;
  }
}

.offerings__text,
.offerings__text-part {
  font-weight: 400;
  font-size: 14px;
  line-height: calc(16 / 14);

  color: $primaryTextColor;
}

.offerings__text {
  // margin-bottom: 28px;
  display: inline-block;
  max-width: 272px;

  // margin-right: 8px;

  @media screen and (min-width: $tablet) {
    font-size: 16px;
    line-height: calc(19 / 16);
    // margin-bottom: 40px;

    // display: inline-block;
    max-width: 526px;
  }
  @media screen and (min-width: $desktop) {
    line-height: calc(24 / 16);
  }
}

.offerings__text-part {
  // margin-right: 28px;
  max-width: 252px;

  @media screen and (min-width: $tablet) {
    display: inline-block;
    // max-width: 252px;
  }
}

.offerings__title-part {
  font-weight: 700;
  font-size: 18px;
  line-height: calc(21 / 18);

  margin-bottom: 16px;

  color: $primaryTextColor;

  @media screen and (min-width: $desktop) {
    line-height: calc(25 / 18);
  }
}

.offerings__text-part {
  @media screen and (min-width: $desktop) {
    line-height: calc(21 / 14);
  }
}

.offerings__item {
  // display: flex;
  // align-items: baseline;
  // justify-content: space-between;
  // flex-wrap: nowrap;

  list-style: none;
  margin: 0;
  padding: 0;

  margin-bottom: 28px;

  // display: block;

  @media screen and (min-width: $tablet) {
    // display: flex;
    align-items: baseline;
    justify-content: space-between;
    flex-wrap: nowrap;

    // margin-bottom: 28px;
  }

  @media screen and (min-width: $tablet) {
    margin-bottom: 0px;
  }
}

.offerings__item--tablet {
  @media screen and (max-width: calc($tablet - 1px)) {
    display: none;
  }

  @media screen and (min-width: $desktop) {
    display: none;
  }
}

.offerings__item--apple {
  @media screen and (min-width: $tablet) {
    margin: 0;
    padding: 0;
  }

  @media screen and (min-width: $desktop) {
  }
}

// . {
//   @media screen and (min-width: $tablet) {
//     display: block;
//   }
// }

.part-one,
.part-two {
  // position: relative;
}

.part-one::before,
.part-two::before {
  content: '';
  // width: 32px;
  // height: 32px;

  display: block;

  // position: absolute;
  position: relative;
  top: 0;
  left: 0;
  margin-bottom: 8px;

  height: 48px;
  width: 48px;

  // flex-grow: 2;

  // background-size: contain;
  background-repeat: no-repeat;
  background-position: center;

  // display: flex;

  // align-items: center;
  // justify-content: center;

  border-radius: 50%;

  background-color: $primaryBgColor;

  @media screen and (min-width: $desktop) {
    // position: absolute;
    // top: -50%;
  }
}

.part-one::before {
  // top: -25%;

  background-image: url(../images/rocket.svg);
}

.part-two::before {
  // top: -25%;

  background-image: url(../images/touch-app.svg);
}

// .offerings__icon {
//   @extend %link;

//   cursor: pointer;

//   height: 48px;
//   width: 48px;

//   margin: 0;
//   padding: 0;

//   margin-bottom: 8px;

//   display: flex;

//   align-items: center;
//   justify-content: center;

//   border-radius: 50%;

//   background-color: $primaryBgColor;
// }

.offerings__call-container {
  // margin-bottom: 60px;

  @media screen and (min-width: $tablet) {
    // margin-bottom: 100px;
  }

  @media screen and (min-width: $desktop) {
    // margin-bottom: 0px;
  }
}

.offerings__button {
  @extend %button;

  padding: 8px 20px;
  border: 2px solid $footerLinkColor;

  margin-right: 24px;

  font-weight: 500;
  font-size: 13px;

  background-color: $primaryBgColor;

  transition: border $timingFunction;

  &:hover,
  &:focus {
    border: 2px solid $btnAccentBorderColor;
  }
}

.offerings__call {
  @extend %link;

  font-weight: 400;
  font-size: 13px;
  line-height: calc(20 / 13);

  color: $mobileMenuColor;

  display: inline-flex;
  align-items: center;
  justify-content: center;

  @media screen and (min-width: $desktop) {
    display: none;
  }
}

.offerings__call-icon {
  transition: fill $timingFunction;

  &:hover,
  &:focus {
    fill: $footerLinkColor;
  }
}
