.subscribe__img {
  display: flex;
  max-width: 100%;
  height: auto;
  object-position: center;
  margin: auto;
  object-fit: cover;
  padding: 0;
  justify-content: center;
  align-items: center;
  @media screen and (min-width: 768px) {
    justify-content: normal;
    flex-direction: row-reverse;

    margin: 0;
  }
  @media screen and (min-width: 1280px) {
    padding: 0;
    position: absolute;
    margin-left: 660px;
  }
}

.subscribe__title {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 700;
  font-size: 28px;
  line-height: 120%;

  color: $primaryTextColor;
  margin-top: 20px;
  margin-bottom: 20px;
  @media screen and (min-width: 768px) {
    font-size: 42px;
  }
}
.subscribe__text {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: calc(16 / 14);
  color: $primaryTextColor;
  margin-bottom: 40px;
  @media screen and (min-width: 768px) {
    font-size: 16px;
    line-height: 150%;
    max-width: 656px;
  }
}
.subscribe__form-group {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  @media screen and (min-width: 768px) {
    flex-direction: row;
    display: inline;
  }
}
.subscribe__input {
  width: 280px;
  min-height: 42px;
  margin-bottom: 20px;
  border-radius: 30px;
  padding-top: 12px;
  padding-bottom: 12px;
  padding-left: 11px;
  background-color: #ffffff;
  border: 0.854167px solid #ffe550;
  border-radius: 30px;
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 150%;
  color: #505050;
  &:invalid {
    border: 0.854167px solid #ff705d;
  }
  &:valid {
    border: 0.854167px solid #7eb101;
  }
  &:placeholder-shown {
    border: 0.854167px solid #ffe550;
  }
  @media screen and (min-width: 480px) {
    width: 100%;
  }
  @media screen and (min-width: 768px) {
    width: 395px;
  }
}

.subscribe__btn {
  width: 106px;
  height: 42px;
  background-color: #bbf330;
  border-radius: 30px;
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 150%;
  color: $primaryTextColor;
  cursor: pointer;
  border: none;

  &:hover,
  &:focus {
    background-color: #ffe550;
  }
  @media screen and (min-width: 768px) {
    margin-left: 18px;
    margin-top: 0;
  }
  @media screen and (min-width: 1280px) {
    margin-left: 32px;
  }
}
