.subscribe__title {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 700;
  font-size: 28px;
  line-height: calc(34 / 28);
  text-align: left;
  color: #2c2c2c;
  margin-bottom: 20px;
}
.subscribe__text {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: calc(16 / 14);
  color: #2c2c2c;
  margin-bottom: 40px;
  overflow-wrap: break-word;
}
